# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Include the static folder but exclude specific files
!static/

# Ignore files in specific subfolders but keep the folder structure
static/images/artists/*
static/images/concerts/*
static/images/members/*
static/images/products/*

# Keep folders inside static/images
!static/images/artists/.gitkeep
!static/images/concerts/.gitkeep
!static/images/members/.gitkeep
!static/images/products/.gitkeep
